! Background color
URxvt*background: black

! Font color
URxvt*foreground: white

! Other colors
URxvt*color0: black
URxvt*color1: red3
URxvt*color2: green3
URxvt*color3: yellow3
URxvt*color4: blue2
URxvt*color5: magenta3
URxvt*color6: cyan3
URxvt*color7: gray90
URxvt*color8: grey50
URxvt*color9: red
URxvt*color10: green
URxvt*color11: yellow
URxvt*color12: blue
URxvt*color13: magenta
URxvt*color14: cyan
URxvt*color15: white

! Fonts
*font: Fantasque Sans Mono
*faceName: Fantasque Sans Mono
*boldFont: Fantasque Sans Mono Bold
*italicFont: Fantasque Sans Mono Italic
*boldItalicFont: Fantasque Sans Mono Bold Italic

URxvt*font: xft:Fantasque Sans Mono:size=13:style=Regular
URxvt*faceName: xft:Fantasque Sans Mono:size=13
URxvt*boldFont: xft:Fantasque Sans Mono:size=13:style=Bold
URxvt*italicFont: xft:Fantasque Sans Mono:size=13:style=Italic
URxvt*boldItalicFont: xft:Fantasque Sans Mono:size=13:style=Bold Italic
